<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/icons8/windows-8/256/Sports-Dumbbell-icon.png" />

  <title>Gym Buddy</title>
</head>

<body>
  {{{body}}}
</body>

</html>
