<br>
<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card text-center">
            <h2>USER NAME</h2>
            <br>
            <img class="card-img-top photo" src="https://www.bspmediagroup.com/event/img/logos/user_placeholder.png" alt="Card image cap">
            <h3>Please rate your experience</h3>
                <div id="reviewStars-input">
                    <input id="star-4" type="radio" name="reviewStars" />
                    <label title="excellent" for="star-4"></label>

                    <input id="star-3" type="radio" name="reviewStars" />
                    <label title="good" for="star-3"></label>

                    <input id="star-2" type="radio" name="reviewStars" />
                    <label title="regular" for="star-2"></label>

                    <input id="star-1" type="radio" name="reviewStars" />
                    <label title="poor" for="star-1"></label>

                    <input id="star-0" type="radio" name="reviewStars" />
                    <label title="bad" for="star-0"></label>
                </div>
                <div><a href="/matches/:id/profile" class="button">My profile</a></div>
            </div>
            
        </div>
    </div>
</div>