<nav class="navbar">
    <div class="navbar-brand">
        <h2 class="logo">Gym Buddy</h2>
    </div>
      <div>  
          <a href="/survey" class="button">Retake Survey</a>
    </div>
</nav>

<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

        <div class="card text-center">
            <div class="card-header">
                <h2>My matches</h2>
            </div>
            <div class="card-body">
                <img class="card-img-top photo" src="https://www.bspmediagroup.com/event/img/logos/user_placeholder.png" alt="Card image cap">
                <h5 class="card-title">Name</h5>
                <p class="card-text"> age, id</p>
                <button value="2" class="button profile-button">View Profile</button>
            </div>
            <div id="" class="card-footer text-muted">
                Matching score
            </div>
        </div>
<br>
        
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/selectSingleMatch.js"></script>

